url: "http://localhost:5000"

as_token: "AS_TOKEN_HERE"
hs_token: "HS_TOKEN_HERE"
id: "telematrix"

sender_localpart: telegram
namespaces:
    users:
        - exclusive: true
          regex: '@telegram_.*'
    rooms: []
    aliases:
        - exclusive: false
          regex: '#telegram_.*'
