{
    "tokens": {
        "hs": "HS_KEY",
        "as": "AS_KEY",
        "telegram": "TELEGRAM_BOT_API_KEY",
        "google": "GOOGLE_API_KEY"
    },

    "hosts": {
        "internal": "http://127.0.0.1:PORT/",
        "external": "https://DOMAIN.TLD/",
        "bare": "DOMAIN.TLD"
    },

    "user_id_format": "@telegram_{}:DOMAIN.TLD",
    "db_url": "sqlite:///database.db",

    "as_port": 5000
}
